# Environment variables
.env

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache & dependencies
package-lock.json

# Uploaded files
uploads/

# Editor files
.vscode/
*.log

# System files
.DS_Store
Thumbs.db
